.highlighted-text {
    color: mediumvioletred;
    font-weight: bold;
}
.zdjecie_z_tekstem {
    display: flex;
    align-items: center;
}
.zdjecie {
    max-width: 50%;
    margin-right: 20px;
}
nav {
    background-color: #51b6a0; /* Tło menu */
    text-align: left;
}
nav ul {
    list-style: none;
    padding: 10px;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: white; /* Kolor tekstu w menu */
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
}
nav ul li a:hover {
    background-color: #555; /* Kolor tła po najechaniu myszką */
}